<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pril_xo.mapper.PUserMapper">

    <select id="getPUserById" resultType="com.pril_xo.entity.PUser">
        select
                uid as uid,
                user_name as userName,
                pass_word as passWord,
                gender as gender,
                avatar as avatar,
                email as email,
                birthday as birthday,
                mobile as mobile,
                valid_code as validCode
        from p_user
        <trim prefix="where" prefixOverrides="and | or">
                   <if test="uid != null">
                       and uid=#{uid}
                   </if>
        </trim>
    </select>

    <select id="listPUser" resultType="com.pril_xo.entity.PUser" parameterType="java.util.Map">
        select
                 uid as uid,
                 user_name as userName,
                 pass_word as passWord,
                 gender as gender,
                 avatar as avatar,
                 email as email,
                 birthday as birthday,
                 mobile as mobile,
                 valid_code as validCode
        from p_user
        <trim prefix="where" prefixOverrides="and | or">
                <if test="uid != null and uid!=''">
                    and uid=#{uid}
                </if>
                <if test="userName != null and userName!=''">
                    and user_name=#{userName}
                </if>
                <if test="passWord != null and passWord!=''">
                    and pass_word=#{passWord}
                </if>
                <if test="gender != null and gender!=''">
                    and gender=#{gender}
                </if>
                <if test="avatar != null and avatar!=''">
                    and avatar=#{avatar}
                </if>
                <if test="email != null and email!=''">
                    and email=#{email}
                </if>
                <if test="birthday != null ">
                    and birthday=#{birthday}
                </if>
                <if test="mobile != null and mobile!=''">
                    and mobile=#{mobile}
                </if>
                <if test="validCode != null and validCode!=''">
                    and valid_code=#{validCode}
                </if>
        </trim>
    </select>

    <select id="pagePUser" resultType="com.pril_xo.entity.PUser" parameterType="java.util.Map">
        select
                 uid as uid,
                 user_name as userName,
                 pass_word as passWord,
                 gender as gender,
                 avatar as avatar,
                 email as email,
                 birthday as birthday,
                 mobile as mobile,
                 valid_code as validCode
        from p_user
        <trim prefix="where" prefixOverrides="and | or">
                <if test="uid != null and uid!=''">
                    and uid=#{uid}
                </if>
                <if test="userName != null and userName!=''">
                    and user_name=#{userName}
                </if>
                <if test="passWord != null and passWord!=''">
                    and pass_word=#{passWord}
                </if>
                <if test="gender != null and gender!=''">
                    and gender=#{gender}
                </if>
                <if test="avatar != null and avatar!=''">
                    and avatar=#{avatar}
                </if>
                <if test="email != null and email!=''">
                    and email=#{email}
                </if>
                <if test="birthday != null ">
                    and birthday=#{birthday}
                </if>
                <if test="mobile != null and mobile!=''">
                    and mobile=#{mobile}
                </if>
                <if test="validCode != null and validCode!=''">
                    and valid_code=#{validCode}
                </if>
        </trim>
    </select>

    <insert id="addPUser" parameterType="com.pril_xo.entity.PUser">
        insert into p_user(
                uid,
                user_name,
                pass_word,
                gender,
                avatar,
                email,
                birthday,
                mobile,
                valid_code)
        values(
                #{uid},
                #{userName},
                #{passWord},
                #{gender},
                #{avatar},
                #{email},
                #{birthday},
                #{mobile},
                #{validCode})
    </insert>

    <update id="updatePUser" parameterType="com.pril_xo.entity.PUser">
        update p_user
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="userName != null and userName!=''">
                            user_name=#{userName},
                        </if>
                        <if test="passWord != null and passWord!=''">
                            pass_word=#{passWord},
                        </if>
                        <if test="gender != null and gender!=''">
                            gender=#{gender},
                        </if>
                        <if test="avatar != null and avatar!=''">
                            avatar=#{avatar},
                        </if>
                        <if test="email != null and email!=''">
                            email=#{email},
                        </if>
                        <if test="birthday != null ">
                            birthday=#{birthday},
                        </if>
                        <if test="mobile != null and mobile!=''">
                            mobile=#{mobile},
                        </if>
                        <if test="validCode != null and validCode!=''">
                            valid_code=#{validCode},
                        </if>
        </trim>
    </update>

    <update id="removePUserById">
        update p_user set status = -1
        <trim prefix="where" prefixOverrides="and | or">
                   <if test="uid != null">
                       and uid=#{uid}
                   </if>
        </trim>
    </update>

    <delete id="deletePUserById" >
        delete from p_user
        <trim prefix="where" prefixOverrides="and | or">
                   <if test="uid != null">
                       and uid=#{uid}
                   </if>
        </trim>
    </delete>
</mapper>